# Go
tmp/
*.exe
*.test
*.out
vendor/

# direnv
.direnv/

# env (in case you still end up with a literal .env somewhere)
.env
.env.local
.jj

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

